{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{%block title%} Tracker Change Password {%endblock %}
{%block content%}

<style>

    .control-group {
    margin: 20px auto;
  }

  .controls input {
    width: 30%;
    height: 35px;
    margin:10px auto;
  }

  button {
    width: auto;
    margin: 10px 0;
  }
  .asteriskField {
      display: none;
  }


  fieldset label{
    color: black;
    font-weight: bolder;
  }

  fieldset{
  text-align:center;
  }

  .controls ul{
  display:none;
  }

  .wrapper .row {
    margin-top:55px}

   strong{
    color: red;
    font-weight: bolder;
   }

</style>

<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="/">Home</a></li>
      <li><i class="fa fa-key"></i>Password_Change</li>
    </ol>
  </div>
</div>
<section class="panel">
    <div class="panel-body bio-graph-info">
      <h1><i class="fa fa-key"></i> Password_Change </h1>
      <form method="post" class="form-horizontal">
        {% csrf_token %}
          <fieldset>
            {{ form|crispy}}
            <button type="submit" class="btn btn-primary"><b>Save</b></button>
          </fieldset>
      </form>
    </div>
  </section>

{%endblock%}
